html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  align-items: center;
  background-image: linear-gradient(135deg, tomato, rebeccapurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: monospace;
  width: 100%;  
}


.table-container, .container.tx {
  margin: 10px 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 12px 1px rgba(0, 0, 0, 0.3);
  color: #333;
  padding: 1rem 1.5rem;
  width: 90%;
}
@media only screen and (min-width: 801px) {
  .table-container {
    width: 60%;
  }
}

#wallet_status {
  float: right;
}

.table-container table,
.table-container th,
.table-container td {
  word-break: break-all;
  border: 1px solid #c7c7c7;
  border-collapse: collapse;
}

.table-container th {
  width: 40%;
}

.table-container th,
.table-container td {
  padding: 5px;
  text-align: left;
}

/* form correction */
.input-field span:before {
  top: 2rem;
}

input[type=text] {
  margin: 0 auto;
}


/* trasaction history */

table.tx {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: #fff;
  color: #20262e;
  overflow: hidden;
}

table.tx tr:nth-child(even) {
  background-color: #ddd;
}

table.tx th,
table.tx td:before {
  color: #28b1de;
}

table.tx th {
  display: none;
}

table.tx th,
table.tx td {
  margin: .5rem 2rem;
  text-align: left;
}

table.tx td {
  word-break: break-all;
  display: block;
  font-size: 90%;
}

table.tx td:first-child {
  padding-top: 1rem;
}

table.tx td:last-child {
  min-width: 74px;
  padding-bottom: 1rem;
}

table.tx td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

@media (min-width: 900px) {
  table.tx td:before {
    display: none;
  }
  table.tx th,
  table.tx td {
    display: table-cell;
  }
  table.tx th,
  table.tx td,
  table.tx td:first-child,
  table.tx td:last-child {
    padding: 1.5rem 2rem;
  }
}