html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.full-container {
  display: flex;
  flex-direction: column;
  background: url('../images/background.svg'); /* Designed by Freepik */
  background-size: cover;
  background-position-y: center;
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  padding: 5px 0;
  justify-content: center;
  font-size: 26px;
  background-color: rgba(0,0,0,0.85);
  color: #EEE;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.85);
  color: #EEE;
  padding: 6px;
}
.title {
    font-family: monospace;
    width: 100%;
}
.landing-title {
  color: #F7F7F7;
  font-size: 36px;
  text-align: center;
  padding: 16px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
}
.content-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.7);
  max-width: 300px;
  padding: 16px 16px 24px 16px;
}
.tagline {
  color: #F7F7F7;
  font-size: 18px;
  padding: 24px 16px 24px 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.button-wrapper {
  flex: 1;
}
.button-green {
  background-color: #04A148;
}
.button-green:hover {
  color: #FEFEFE !important;
  background-color: #04AE4D;
}
.btn-primary {
  margin: 10px 0px;
  min-width: 180px;
}
.btn-primary:hover {
  color: #FF9D49;
}
.signup-link {
  padding: 8px !important;
  color: #FEFEFE;
}
.signup-link:hover {
  color: #04A148;
}
.hello-user {
  color: #ED9E12;
  font-size: 18px;
  padding: 8px 16px 24px 16px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.landing-logo {
    height: 40px;
    width: auto;
    margin-top: 16px;
    margin-bottom: 4px;
}
.brand-header {
    background: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.brand-header-logo {
    height: 36px;
    width: auto;
}
