html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-image: linear-gradient(135deg, tomato, rebeccapurple);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
    font-family: monospace;
    width: 100%;  
}