.alert .inner {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.alert .close {
  float: right;
  margin: 20px 10px;
  cursor: pointer;
}

.alert .inner,.alert .close {
  color: rgb(88,88,88);
}

.alert input {
  display: none;
}

.alert input:checked ~ * {
  animation-name: hide;
  animation-fill-mode: forwards;
}

.alert.error .inner {
  border: 1px solid rgb(238,211,215);
  word-wrap: break-word;
  background-color: rgb(242,222,222);
}

.alert.error .inner,.alert.error .close {
  color: rgb(185,74,72);
}

.alert.success .inner {
  border: 1px solid rgb(214,233,198);
  word-wrap: break-word;
  background-color: rgb(223,240,216);
}

.alert.success .inner,.alert.success .close {
  color: rgb(70,136,71);
}

.alert label {
  width: auto;
  padding: 0;

}

.alert.error label {
  background-color: rgb(242,222,222);
}

.alert.success label {
  background-color: rgb(223,240,216);
}

@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}