<!doctype html>
<html>

<head>
    <title>Shellnet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/fav_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/unnamed" />
    <link rel="stylesheet" href="/assets/css/light-modal.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>
    <header>
        <h1 id="title"><a href="/">SHELLNET</a></h1>
    </header>
    <div id="main-container">
        <div id="body">
         <h1>{{ .Error }}</h1>
         <h2>HTTP {{ .HTTPCode }}</h2>
        </div>
    </div>
    <footer>
        <a href="https://github.com/anonanonymous/shellnet">Github</a>
        &nbsp;
        <a href="https://docs.turtlecoin.lol/guides/wallets/Using-Shellnet">Docs</a>
        &nbsp;
        <a href="https://discord.gg/C2as5Yt">Contact</a>
        &nbsp;
        <a href="#donate-modal">Donate</a>
        &nbsp;
    </footer>
    <div class="light-modal" id="donate-modal" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
        <div class="light-modal-content">
            <a href="#" class="light-modal-close-icon" aria-label="close">&times;</a>
            <div class="light-modal-body">
                <p>Please donate to support the development and operation of Shellnet</p>
                <p style="word-break: break-all;">
                    TRTLuwxCr6w3pVUcSW1UkbjiCccYknCrN88CuKq9xWLccKTpJDoWQXgcfsazXLpmSzBhcTg8Pb8XgSiiBjDpxfHq7MmHECa1CHg
                </p>
            </div>
        </div>
    </div>
    <div class="light-modal" id="tos-modal" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
        <div class="light-modal-content">
            <a href="#" class="light-modal-close-icon" aria-label="close">&times;</a>
            <div class="light-modal-body">
                <p style="word-wrap: break-word;">
                    <b>Terms of Service</b>
                    <hr>
                    Shellnet is in alpha testing. By using this service, you acknowledge that you are using a product
                    that is in development. User assumes all risks for use, including risks of loss. By using our
                    service, you signify that you accept these Terms of use and that you agree to be bound by them. If
                    you do not agree with any part of these Terms of use, please refrain from using the service.
                    <br><br>
                    Cookies
                    <br>
                    By using Shellnet, you consent to the use of cookies. Most of the modern day interactive web sites
                    use cookies to enable us to retrieve user details for each visit.
                    <br><br>
                    Privacy
                    <br>
                    Each address on Shellnet shares the same view key. Since it is possible to correlate the
                    transactions in a block to a specific TurtleCoin address, your transactions are not completely
                    private.
                    <br><br>
                    Viruses and other harmful intentions
                    <br>
                    You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or
                    other material which is malicious or technologically harmful. You must not attempt to gain
                    unauthorised access to our service, the server on which our service is stored or any server,
                    computer or database connected to our service. You must not attack our service via a
                    denial-of-service attack or a distributed denial-of service attack.
                    We will not be liable for any loss or damage caused by a distributed denial-of-service attack,
                    viruses or other technologically harmful material that may infect your computer equipment, computer
                    programs, data or other proprietary material due to your use of our service or to your downloading
                    of any material posted on it, or on any website linked to it.
                    <br><br>
                    Changes to these terms of use
                    <br>
                    We may revise these terms of use at any time by amending this page. You are expected to check this
                    page from time to time to take notice of any changes we made, as they are binding on you. Some of
                    the provisions contained in these terms of use may also be superseded by provisions or notices
                    published elsewhere on our service.
                    <br><br>
                    Contact us
                    <hr>
                    If you have any questions, concerns and ideas about material which appears on our service, please
                    contact us at https://discord.gg/C2as5Yt
                </p>
            </div>
        </div>
    </div>
</body>

</html>
