{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/assets/js/utils.js" async></script>
        <script src="/assets/js/account.js" async></script>
        <link rel="icon" href="/assets/images/fav_icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/unnamed" crossorigin="anonymous"/>
        <link rel="stylesheet" href="/assets/css/account.css"/>
        <link rel="stylesheet" href="/assets/css/widgets.css"/>
        <link rel="stylesheet" href="/assets/css/shellnet.common.css"/>
        <title>Shellnet</title>
    </head>
    <body>
{{ end }}

{{ define "footer" }}
        <footer class="full-container center-text footer">
            <span>Shellnet © 2019</span>
        </footer>
    </body>
</html>
{{ end }}
