{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/assets/js/utils.js" async></script>
        <script src="/assets/js/account.js" async></script>
        <link rel="icon" href="/assets/images/fav_icon.ico" type="image/x-icon">
        <link rel="stylesheet prefetch" href="https://unpkg.com/unnamed"/>
        <link rel="stylesheet prefetch" href="/assets/css/account.css"/>
        <link rel="stylesheet prefetch" href="/assets/css/widgets.css"/>
        <link rel="icon" href="assets/images/fav_icon.ico" type="image/x-icon">
        <title>Shellnet</title>
    </head>
    <body>
{{ end }}

{{ define "footer" }}
        <footer class="full-container gradient-orange center-text">
            <code>Shellnet &copy; 2018</code>
        </footer>
    </body>
</html>
{{ end }}
