<!doctype html>
<html>

<head>
    <title>Shellnet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/utils.js" async></script>
    <link rel="icon" href="/assets/images/fav_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/unnamed" />
    <link rel="stylesheet" href="/assets/css/account.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/light-modal.min.css" />
</head>

<body>
    <header>
        <h1 id="title"><a href="/">SHELLNET</a></h1>
    </header>
    <div id="main-container">
        <div id="body">
            <!-- :D Hey! -->
            <!--
             .==.
          __/-^-^\
         (' )^-^-^\)
          `^UU^^UU^
		-->
            <div class="table-container">
                <a href="/logout">logout</a>&nbsp;
                <a href="/account">account</a>
                <hr>
                <h1>Wallet Keys</h1>
                <table>
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ .TUser.Username }}</td>
                        </tr>
                        <tr>
                            <th>Private Spend Key</th>
                            <td>
                                <span>{{ index .TData "privateSpendKey" }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Private View Key</th>
                            <td>
                                <span>{{ index .TData "viewKey" }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Public Spend Key</th>
                            <td>
                                <span>{{ index .TData "publicSpendKey" }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <article class="container">
                    <h2 class="center-text">How to use your Keys</h2>
                    <h3>Import your wallet in zedwallet</h3>
                    <ol>
                        <li> In the running zedwallet client, <b>type I</b>.</li>
                        <br>
                        <li>Copy and paste your private spend and view key (Shown above).</li>
                        <br>
                        <li>Set a name for your new wallet.</li>
                        <br>
                        <li>Specify a strong password to encrypt your wallet with and confirm it by pressing
                            <b>Enter</b>.</li>
                        <br>
                        <li>Once done, press <b>Enter</b>. The wallet will then begin synchronizing with the blockchain.
                            Once synchronization is complete, your balance will be updated.</li>
                    </ol>
                    <h3>Import your wallet in <a href="https://github.com/turtlecoin/turtle-wallet-go">Nest</a></h3>
                    <p> Refer to <a
                            href="https://docs.turtlecoin.lol/guides/wallets/using-zedwallet">
                            THIS GUIDE</a>.</p>
                </article>
            </div>
        </div>
    </div>
    <footer>
        <a href="https://github.com/anonanonymous/shellnet">Github</a>
        &nbsp;
        <a href="https://docs.turtlecoin.lol/guides/wallets/Using-Shellnet">Docs</a>
        &nbsp;
        <a href="https://discord.gg/C2as5Yt">Contact</a>
        &nbsp;
        <a href="#donate-modal">Donate</a>
        &nbsp;
    </footer>
    <div class="light-modal" id="donate-modal" role="dialog" aria-labelledby="light-modal-label" aria-hidden="false">
        <div class="light-modal-content">
            <a href="#" class="light-modal-close-icon" aria-label="close">&times;</a>
            <div class="light-modal-body">
                <p>Please donate to support the development and operation of Shellnet</p>
                <p style="word-break: break-all;">
                    TRTLuwxCr6w3pVUcSW1UkbjiCccYknCrN88CuKq9xWLccKTpJDoWQXgcfsazXLpmSzBhcTg8Pb8XgSiiBjDpxfHq7MmHECa1CHg
                </p>
            </div>
        </div>
    </div>

</body>

</html>
