{{ $host := "http://192.168.1.70:8080" }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="assets/images/fav_icon.ico" type="image/x-icon">
        <link rel="stylesheet prefetch" href="https://unpkg.com/unnamed"/>
        <link rel="stylesheet prefetch" href="/assets/css/tabs.css"/>
        <title>Shellnet</title>
    </head>
    <body>
        <div class="tab_container container">
            <input id="tab1" type="radio" name="tabs" {{ if eq .PageAttr.Element "login" }}checked{{ end }}>
            <label for="tab1"><span>Login</span></label>
            
            <input id="tab2" type="radio" name="tabs" {{ if eq .PageAttr.Element "signup" }}checked{{ end }}>
            <label for="tab2"></><span>Signup</span></label>
            
            <section id="content1" class="tab-content">
                <div class="container">
                <h1 class="center-text">Log Into Your Account</h1>
                <form action={{ printf "%s%s" $host "/login" }} method="POST">
                    <div class="input-field green-input">
                    <span class="user-icon"></span>
                    <input type="text" name="username" placeholder="username" autofocus="" required/>
                    </div>
            
                    <div class="input-field green-input">
                    <span class="caret-icon"></span>
                    <input type="password" name="password" placeholder="password" required/>
                    </div>
                    <button class="btn btn-primary gradient-green">Login</button>
                </form>
                </div>
            </section>
            
            <section id="content2" class="tab-content">
                <div class="container">
                    <h1 class="center-text">Create a New Account</h1>
                        <form action={{ printf "%s%s" $host "/signup" }} method="POST">
                            <div class="input-field green-input">
                                <span class="user-icon"></span>
                                <input type="text" name="username" placeholder="username" autofocus="" required/>
                            </div>
                        
                            <div class="input-field green-input">
                                <span class="caret-icon"></span>
                                <input type="password" name="password" placeholder="password" required/>
                            </div>
                            <button class="btn btn-primary gradient-green">Signup</button>
                        </form>
                    </div>
            </section>
        </div>
    </body>
</html>