
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/assets/js/utils.js"></script>
        <link rel="icon" href="/assets/images/fav_icon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://unpkg.com/unnamed"/>
        <link rel="stylesheet" href="/assets/css/account.css"/>
        <link rel="icon" href="assets/images/fav_icon.ico" type="image/x-icon">
        <title>Shellnet</title>
    </head>
    <body>
<div class="title center-text"><span>SHELLNET</span></div>

<div class="table-container">
  <a href="/logout">logout</a>&nbsp;
  <a href="/account">account</a>
  <hr>
    <h1>Settings</h1>
    </table>
    <div class="qr-keys">
      <div class="card-img">
      </div>
      <div class="card-footer">
         <h4>QR Code</h4>
      </div>
    </div>
  </div>
{{ template "footer" }}
