Terms of Service
Shellnet is in alpha testing. By using this service, you acknowledge that you are using a product that is in development. User assumes all risks for use, including risks of loss. By using our service, you signify that you accept these Terms of use and that you agree to be bound by them. If you do not agree with any part of these Terms of use, please refrain from using the service.

Cookies
By using Shellnet, you consent to the use of cookies. Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit.

Privacy
Each address on Shellnet shares the same view key. Since it is possible to correlate the transactions in a block to a specific TurtleCoin address, your transactions are not completely private.

Viruses and other harmful intentions
You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the server on which our service is stored or any server, computer or database connected to our service. You must not attack our service via a denial-of-service attack or a distributed denial-of service attack.

We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our service or to your downloading of any material posted on it, or on any website linked to it.

Changes to these terms of use
We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our service.
