{{ $host := "http://192.168.1.70:8080" }}
{{ template "header" }}
<h1 class="title gradient-orange center-text"><code>SHELLNET</code></h1>
<div class="table-container">
  <div id="wallet_status">
    <span class="caret-icon"></span>&nbsp;status<span>
  </div>
  <strong>Block:&nbsp;</strong><span id="block_count"></span>
  <h1>Wallet Info</h1>
  <table>
    <tbody>
      <tr>
        <td data-column-label="Name"><span>{{ .User.Username }}</span></td>
        <td data-column-label="Balance"><span id="wallet_balance"><noscript>big benis</noscript></span></td>
        <td data-column-label="Address"><span>{{ .User.Address }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <form action={{ printf "%s%s" $host "/send_transaction"}} method="POST">
    <div class="input-field green-input">
      <h2>Send Transaction</h2>
      <span class="caret-icon"></span>
      <input type="text" name="destination" placeholder="Enter destination address..." pattern="^(TRTL)[a-zA-Z0-9]{95}$" required/>
      <span class="caret-icon"></span>
      <input type="text" name="amount" placeholder="Enter Amount.." pattern="^\d+\.\d{0,2}$" required/>
      <span class="caret-icon"></span>
      <input type="text" name="payment_id" placeholder="Enter Payment ID..." pattern="^[a-fA-F\d]{64}$"/>
    </div>
    <button class="btn btn-primary gradient-green">Send</button>
  </form>
</div>
{{ template "footer" }}