{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet prefetch" href="/assets/css/form.css"/>
        <link rel="icon" href="assets/images/fav_icon.ico" type="image/x-icon">
        <title>Shells</title>
    </head>
    <body>
{{ end }}

{{ define "footer" }}
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        &copy; 2018
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
{{ end }}
